---
layout: 'base.njk'
---

<div class="container">
    <div class="article_main">
        <h1>{{title}}</h1>
        <img src={{image}} alt={{imageAlt}}>

        {{content | safe}}
    </div>
</div>